/* Toast Container Dark Mode Support */
.dark .Toastify__toast-container {
  color: rgb(229 231 235);
}

.dark .Toastify__toast {
  background: rgb(31 41 55);
  color: rgb(229 231 235);
}

.dark .Toastify__toast--success {
  background: rgb(6 78 59);
  color: white;
}

.dark .Toastify__toast--error {
  background: rgb(127 29 29);
  color: white;
}

.dark .Toastify__toast--warning {
  background: rgb(69 26 3);
  color: white;
}

.dark .Toastify__toast--info {
  background: rgb(30 27 75);
  color: white;
}

.dark .Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.3);
}

.dark .Toastify__close-button {
  color: rgb(229 231 235);
  opacity: 0.7;
}

.dark .Toastify__close-button:hover {
  opacity: 1;
}

